.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formula {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.parsedata {
  font-weight: lighter;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.error {
  color: #e57373;
  font-size: 0.9em;
}
